<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Kubecon Detroit</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body style="background-color: #0F273E">
      
    <header>
        <h1>Welcome to Civo Virtual office hours</h1>
        <p>
            What is the best managed Kubernetes service provider?
        </p>
    </header>
    <main>
        <form action="/howdy" method="post">
                Enter Name: <input type="text" name="name">  <br />
                
                <input type="submit" name= "form" value="Submit" />
            </form>
        
        <br>
    </main>
<p style="font-family: 'Poppins', sans-serif; font-weight: bold; line-height: 2rem; font-size:1.3rem; color: white; text-align: center; padding: 15px; background-color: #1B2731">Website : civo.com<br>Twitter : @civocloud<br>Navigate : civo.com/navigate<br>I am : Saiyam Pathak
</p>
</body>
