<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to CNCFMinutes</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body style="background-color:lightyellow;">
      
    <header>
        <h1>CNCFMinutes Argo CD</h1>
        <p>
            Which is the best cloud native Youtube channel?
        </p>
    </header>
    <main>
        <form action="/howdy" method="post">
                Enter Name: <input type="text" name="name">  <br />
                
                <input type="submit" name= "form" value="Submit" />
            </form>
        
        <br>
        <p><center>Powered by <b>Saiyam Pathak</b> </center></p>
    </main>

</body>
